<div class="container">
    <h2 class="text-center m-4">
        Resource and RxResource
    </h2>
    <table class="table table-stripped table-success">
        <thead>
            <tr>
                <th class="col-2">User Id</th>
                <th class="col-2">Username</th>
                <th class="col-3">Email</th>
                <th class="col-2">Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of apiData.value()">
                <td class="col-2">{{data.user_id}}</td>
                <td class="col-2">{{data.username}}</td>
                <td class="col-3">{{data.email}}</td>
                <td class="col-2">{{data.password}}</td>
            </tr>
        </tbody>
    </table>
</div>