<div class="container d-flex justify-content-center mt-5" style="height: 100%">
  <div class="w-50 p-5 border border-secondary text-center">
    <h2>Welcome to Login</h2>
    <br />
    <label for="">Username: </label>
    <input
      type="text"
      name="username"
      [(ngModel)]="username"
      placeholder="Enter your Username"
    /><br /><br />
    <label for="">Password: </label>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      placeholder="Enter your Password"
    /><br /><br />
    <button class="btn btn-primary" (click)="loginData()">Login</button>
  </div>
</div>
