<!-- <app-data-binding></app-data-binding> -->
<!-- <app-directives></app-directives> -->
<!-- <app-structural-directive-ng-if-vs-if></app-structural-directive-ng-if-vs-if> -->
<!-- <app-structural-directive-ngfor-vs-for></app-structural-directive-ngfor-vs-for> -->
<!-- <app-structural-directives-ng-switch-vs-switch></app-structural-directives-ng-switch-vs-switch> -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-custom-directives></app-custom-directives> -->
<!-- <app-signal></app-signal> -->
<app-linked-signal></app-linked-signal>